<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification Us</title>
    <link rel="stylesheet" href="headerNavFooter.css">
    <link rel = "stylesheet" href = "notificationUs.css">
</head>
<body>


    <div class="notification">
        <img  id = "lital_pic" src=lital.jpg> 
        <p>היוש! <br><br>
            קוראים לי ליטל מגנזי ויש לי עסק עצמאי מזה שנתיים שבו אני מציעה קוסקוס ביתי מבית טריפולטאי אותנטי.<br><br>
            קראתי לעסק על שם סבתא שלי, ה-סבתא קוסקוס המקורית. <br><br>
            מקווה שתהנו מהאוכל! <br><br>
        </p>
    </div>


</body>
</html>