<link rel="stylesheet" href="{{ url_for('header.static', filename='css/headerNav.css') }}"/>

{%
    set menu_items = {
        'homepage': '/homepage',
        'suppliers': url_for('suppliers.index'),
        'notification': url_for('notification.index'),
    }
%}

<header id="myHeader">
            <a href='cart' target="_self" > <img id="cartIcon" src="{{ url_for('header.static',filename='media/img/headerImg/shopping-cart.png') }}" alt ="My cart" width="2.5%"  style="display:inline;padding:1%;"></a>
            <a href='loginConected' target="_self" > <img id="loginIcon" src="{{ url_for('header.static',filename='media/img/headerImg/login.png') }}" alt ="My cart" width="2.5%"  style="display:inline-flex;padding:1%;"></a>
            {% if session.login %}
            <h2 class="user" style="float: right; padding-right: 20px;  font-size: 40px; margin-top: 1px;"> שלום {{ session.get('name') }}</h2>
            {% else %}
            <h2 class="user" style="display:inline; float: right; padding-right: 20px; font-size: 40px; margin-top: 1px;"> שלום אורח</h2>
            {% endif %}
            <h1 id="HaederTitel" style="text-align: center;"><a href = "homepage" style= "text-decoration: none; color: white;">`מיגו - הזמנות מספקים`</a></h1>

             <div class="nav">
                 <a href= 'choseSupplier'>צור הזמנה</a>
                 <a href='MyOrders'>הזמנות קודמות</a>
                 <a href='notification'>ניהול התראות</a>
                 <a href = 'suppliers'>ניהול ספקים</a>
             </div>
</header>
