.cartIcon{
    float: left ;
    padding-top: 3px;
    display: inline;
}
header {

  background-size: cover;
  
  color: bisque;
  border-bottom:2px solid black;
 
}

header {
  background-image:url("/static/media/img/headerImg/hedaerBack.jpg")

}

header>h1{
  font-family:my;
  font-size:800%;
  color: white;
  transform:translate(00px,-20px);
  text-shadow: black 3px 3px;
}


  body, html {
    height: 100%;
    margin: 0;
    font-family: my;
  }
  
  .bg {
    /* The image used */
    background-image: url('/static/media/img/bg_migo.jpg');

  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gridContiner{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50% ;
    grid-gap: 70px;
    padding: 16px;
}
.makeorder{
  margin-bottom: 150%;
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  border-radius: 100%;  
  width: 70px;
  height: 70px;      
  
  text-align: center;
  animation: changeButtom 1s ease infinite alternate;
  
}


.orderlink{

  text-decoration: none;
  color: black;
}

.landing{
    text-align: right;
    grid-column: 4 / span 1;
    grid-row: 1/ span 1;
    margin-top: 40px;
    font-family:my;
    
}
.landing>h1,h2{

  display: inline;
}


/* Add a black background color to the top navigation */
.nav {
    
    overflow: hidden;
    text-align: center;
   
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    
    color: #f2f2f2;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: burlywood;
    color: white;
  }


@keyframes changeButtom{
  0%,100%{border-left: 2px solid black;}
  33%{border-bottom: 2px solid black;}
  66%{border-right: 2px solid black;}
 
  }