:root {
    --whiteTransparent: rgba(255, 255, 255, 0.9);
    --whiteVeryTransparent: rgba(255, 255, 255, 0.8);
    --peachTransparent: rgba(255, 228, 198, 0.9);
    --lightBlueTransparent: rgba(171, 216, 229, 0.9);
    --blackTransparent: rgba(0, 0, 0, 0.3);
    --grayTransparent: rgba(162, 172, 170, 0.8);
    --dark: rgba(67, 73, 84, 0.6);
    --lilacTransparent: rgba(195, 168,194, 0.8);
}
.suppliers-grid-container {
    display: grid;
    grid-template-areas: 
                        'items items items' 
                        'items items items'
                        'items items items'
                        'dots dots dots'
                        ;
    grid-gap: 10px;
    padding: 7px;
    text-align: center;
    font-family: varela;
}

.items {
    grid-area: items;
    /* display: flex; */
    justify-content: center;
    position: relative;
}

.dish{
    direction: rtl;
}

#dish_image{
    width: 50%; 
    padding: 5px;
    margin: 10px;
}


.dish_content{
    padding: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 60px;
    margin-top: 10px;
    padding: 4px;
    color: black;
    font-size: 40px;
    transition: 0.5s ease;
    user-select: none;
}

.prev {
    transform: translate(180px, 0px);
}

.next {
    right: 0;
    transform: translate(-180px, 0px);
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.6);
}

.dots {
    grid-area: dots;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    width: 800px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;    
}

.active, .dot:hover {
    background-color: #717171;
}

@font-face{
    font-family: varela;
    src:url(VarelaRound-Regular.ttf)
}