{% extends 'base.html' %}

{% set page_head_title = 'About' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('choseSupplier.static', filename='css/choseSupplier2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerStyle.css') }}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>לקוחות משתפים</title>
{% endblock %}

{% block page_body_main_content %}
    <h1>בחר ספק!!</h1>
<h1 id = title> התפריט שלנו </h1>
            <ul>
                {% for supplier in suppliers %}
                    <li>

                    <span class = "supplier_content">
                        <form method = "POST" action ="/cart">
                             <input name = "SupplierID" value = "{{supplier.SupplierID}}" type="hidden">

                        <a href ="{{ url_for('cart.index')}}"> <button> {{ supplier.CompanyName }} <br> </button> </a>
                        </form>
                    </span>
                    </li>
                {% endfor %}
            </ul>
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('choseSupplier.static', filename='js/notification.js') }}"></script>
{% endblock %}