<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Test</title>
<link rel="stylesheet" href="/Users/USER/PycharmProjects/web-g15/pages/pdf/static/css/pdf.css"/>

</head>

<body>
<div class="gridContainer">
             <div class="item1">
                <table class = "table" >
                    <tr>
                      <th>סה"כ</th>
                      <th>כמות</th>
                      <th>יחידות</th>
                      <th>מחיר ליחידה</th>
                      <th>מוצר</th>

                    </tr>

                      <tr>
                         {%  for product in productInOrder %}
                        <!-- products -->
                        <tr class="item2">
                            <td> {{ product.TotalPrice }}</td>
                            <td> {{ product.Quantity }}</td>
                            <td> {{product.Type }} </td>
                            <td  id = "price"> ₪{{product.Price}}0</td>
                            <td> {{product.ProductName }} </td>
                        </tr>
                        {% endfor %}
                  </table>

                    <div class="total">
                        <h1>₪{{TotalPrice}}0 :סכום לתשלום </h1>
                    </div>
                    <div class = "Comment">
                        <h1>הערות:</h1>
                        <p>{{Comment}}</p>
                    </div>



            </div>
        </div>
<img  id = "logo" src="/Users/USER/PycharmProjects/web-g15/pages/pdf/static/media/logo.jpg">

</body>

</html>