{% extends 'base.html' %}

{% set page_head_title = 'About' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('createOrder.static', filename='css/createOrder2.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerStyle.css') }}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>לקוחות משתפים</title>
{% endblock %}

{% block page_body_main_content %}
    <h1>יצירת הזמנההה</h1>

    {% if error %}
    <p class="error"> שגיאה: {{ error }} </p>
    {% endif %}

        <div class="gridContainer">
             <div class="item1">
                <table class ="table">
                    <tr>
                      <th>כמות</th>
                      <th>תמונה</th>
                      <th>מחיר</th>
                      <th style="width: 30%;">מנה</th>


                     <form method = "POST" action ="/createOrder">
                         {%  for dish in dishes %}
                        <!-- dishes -->
                        <tr class="item2">
                            <td><input name = "{{ dish.dishID }}" type="number" min = "0" max = "20" value="0" style="width: 100%;"></td>
                            <td><img class= "picture" src="{{dish.image}}" alt="dish" ></td>
                            <td  id = "price"> ₪{{dish.price}}0</td>
                            <td> {{dish.dish_name }} </td>

                        </tr>
                        {% endfor %}
                  </table>
                        <br><br>
                        <a style="justify-self: center;"><button>הזמן</button></a>
                    </form>
            </div>
        </div>
{#
        <div class="container">
            <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">

                <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">לקוחות משתפים</h1>

            </div>
            <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
                <li>
                    <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/female2.jpeg' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"שירות אדיבת יחס מקסים והקוסקוס הכי טעים! "</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">שרונה סבג</h5>
                    <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">עקרת בית- הרצליה</small>
                  </li>
                <li>
                  <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/male1.png' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                  <p class="fs-110 font-cond-l" contenteditable="false">"מומלץ בחום! שירות אדיב, אוכל נהדר, טרי וביתי "</p>
                  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">יניב אהרון</h5>
                  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">מורה- פתח תקווה</small>
                </li>
                <li>
                    <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/female1.jpeg' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"בתור לקוחה ותיקה ממליצה בחום יחס אישית אוכל מדהים וביתי. הילדים שלי טורפים את זה! חובה כל שבוע! "</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">אדווה לוטם</h5>
                    <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">אשת עסקים- נהריה</small>
                  </li>
                <li>
                    <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/male4.png' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                  <p class="fs-110 font-cond-l" contenteditable="false">"אני מכור לתבשילים האלות מזמין כל שבועץ מומלץ בחום! "</p>
                  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">קובי לוי</h5>
                  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">עורך דין- תל אביב</small>
                </li>
                <li>
                    <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/male5.png' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                  <p class="fs-110 font-cond-l" contenteditable="false">"נסו- לא תתחרטו!"</p>
                  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">יהונתן הלמן</h5>
                  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">בנקאי- אשדוד</small>
                </li>
                <li>
                  <img class= "wpx-100 img-round mgb-20" src="{{ url_for('createOrder.static', filename='media/female3.jpeg' )}}" alt="customer" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                  <p class="fs-110 font-cond-l" contenteditable="false">"שירות אדיבת יחס מקסים והקוסקוס הכי טעים! "</p>
                  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">שרונה סבג</h5>
                  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">עקרת בית- הרצליה</small>
                </li>

              </ul>
        </div>
     #}
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('createOrder.static', filename='js/notification.js') }}"></script>
{% endblock %}