{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_body_main_content %}


<!DOCTYPE html>
<html>
    <head>
        <title>מיגו - הזמנות מספקים</title>
         <link rel="stylesheet" href="{{ url_for('homepage.static',filename='css/staylSheetHome.css') }}">

    </head>
<body>

    <div class="bg">
        <div class="gridContiner">

          <div class="landing">
                <h2 >מערכת הזמנות </h2>
                <h1 style="display: inline;">  מספקים</h1>

                <div class="makeorder">
                    <a class="orderlink" href="makeOrder"><br>להזמנות</a>
                </div>
          </div>




        </div>
    </div>


</body>

</html>
{% endblock %}